@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: white;
  background-color: #161616;
  -webkit-tap-highlight-color: transparent;
}

.mask {
  -webkit-mask-image: linear-gradient( white 50%, white 50%);
  mask-image: linear-gradient(white 50%, white 50%);
}

.icon {
  transition: transform 0.3s ease-in-out;
}

.icon.down {
  transform: rotate(0deg);
}

.icon.up {
  transform: rotate(180deg);
}

.answer-container {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.answer-container.expanded {
  max-height: 200px; /* Set a fixed max height for the answer container */
}

.join-now {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.join-now:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 30px 5px rgba(116, 116, 116, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: black;
}

.join-now:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.join-now::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.join-now:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}