@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: white;
  background-color: #161616;
  -webkit-tap-highlight-color: transparent;
}

.mask {
  -webkit-mask-image: linear-gradient( white 50%, white 50%);
  mask-image: linear-gradient(white 50%, white 50%);
}